<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>hello</title>
</head>
<body>
<!--一般循环-->
<ul>
    <li th:each="user:${users}">
        <span th:text="${user.name}">名字</span>
        <span th:text="${user.age}">年龄</span>
    </li>
</ul>

<!--加上状态stat-->

<ul>
    <li th:each="user,stat:${users}">
        <span th:text="${stat}">循环过程参数</span>
        <span th:text="${user.name}">名字</span>
        <span th:text="${user.age}">年龄</span>

    </li>
</ul>
</body>
</html>